.catalog {
  padding: 48px 0;
}

.catalog__header__search {
  display: grid;
  grid-template-columns: 1fr 350px;
  column-gap: 16px;
  margin: 32px 0;
}

.catalog__list {
  display: grid;
  gap: 24px;
  margin-top: 32px;
}
