:root {
    // Размеры
    --space-s: 8px;
    --space-m: calc(var(--space-s) * 2);
    --space-l: calc(var(--space-s) * 3);
    --space-xl: calc(var(--space-s) * 4);
    --border-radius: 16px;
    --page-width: calc(100vw - var(--space-xl));
    --sidebar-width: 250px;
    --catalog-card-height: 166px;
    --modal-width: 400px;
    --login-form-width: 400px;
    --manual-card-width: 258px;
    --manual-card-height: 156px;
    --tab-with-status-min-width: 150px;

    // Цвета
    --text-color: #21272a;
    --light-text-color: #fff;
    --bg-color: #f4f9fd;
    --light-background-color: #fff;
    --modal-backdrop-color: #c5daf4c7;
    --primary-color: #408dff;
    --light-primary-color: #a6c8ff;
    --secondary-color: #878d96;
    --border-color: #e0e0e0;
    --tab-with-status-background-color: #fff;
    --succes-color: #1b5e20;
    --light-succes-color: #dff4dd;
    --warning-color: #997404;
    --light-warning-color: #fff4d1;
    --error-color: #b00020;
    --light-error-color: #fdd;
}
