.catalogSearch {
  display: grid;
  grid-template-columns: 1fr 350px;
  column-gap: var(--space-m);
  margin: var(--space-xl) 0;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

