.card {
  width: var(--manual-card-width);
  height: var(--manual-card-height);
  border-radius: var(--space-xl);
}

.card a {
  transition: unset;
}

.card:hover {
  background-color: var(--light-primary-color);
  color: #fff;
}

.card:hover .icon,
.hoverText {
  display: none;
}

.card:hover .hoverText, {
  display: unset;
}
