.wrapper {
    position: sticky;
    top: 0;
    align-self: flex-start;
    height: 100vh;
    border-radius: 0 !important;
    background-color: white;
    border-right: 1px solid var(--border-color);
}
