.backdrop {
  background-color: var(--modal-backdrop-color);
}

.modal {
  position: absolute;
  top: var(--space-m);
  right: var(--space-m);
  min-height: var(--sidebar-height);
}

.content {
  padding: var(--space-xl);
  height: 100%;
  width: var(--modal-width);
}
