.container {
  width: var(--sidebar-width);
  height: var(--sidebar-height);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  padding: var(--space-xl) var(--space-s);
  user-select: none;
}

.lightText {
  color: var(--light-text-color);
}
