.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.formWrapper {
    width: var(--login-form-width);
    padding: calc(2 * var(--space-l));
    border-radius: var(--border-radius);
    z-index: 1;
}

.fig1,
.fig2 {
    position: absolute;
}

.fig1 {
    top: 50%;
    right: 50%;
    transform: translate(250px, -300px);
    z-index: 100;
}

.fig2 {
    scale: 0.8;
    top: 45%;
    right: 45%;
    z-index: 0;
}
