.formsContainer {
  background-color: var(--light-background-color);
  padding: var(--space-l) var(--space-l) calc(2 * var(--space-l)) var(--space-l);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.formWrapper {
  background-color: var(--bg-color);
  padding: var(--space-l) var(--space-m);
  border-radius: var(--border-radius);
}

.actionsContainer {
  padding: 0 var(--space-m);
}
